#ctx_ps_pagegroupoptions {display:none;}
#ctx-ps-page-group-list > div {}
#ctx-ps-page-group-list > div.inherited {color:silver;}
#ctx-ps-page-group-list > div .removegrp {float:right;color:red;font-family:arial,helvetica,sans-serif;display:none;font-weight:bold;}
#ctx-ps-page-group-list > div .viewgrp {float:right;color:gray;font-family:arial,helvetica,sans-serif;display:none;font-weight:bold;text-decoration:none;}
#ctx-ps-page-group-list > div:hover .removegrp,
#ctx-ps-page-group-list > div:hover .viewgrp{display:inline;cursor:pointer;}
.ctx-ajax-status { display:none; float:right; color:green; font-size:0.8em; margin-right:5px; margin-top:-5px; }
.ctx-ps-sysgroup { color:gray; }
.ctx-ps-sysgroup:hover { color:gray; }
option.cts-ps-system-group { font-weight:bold; }
.ctx-ps-sidebar-group { padding-bottom:2px; }
.ctx-ps-sidebar-group:hover { background:#FFFCE0; }
#groups-available .detach { display:none; visibility:hidden; }

.widefat th#protected { vertical-align:middle; width:30px; }
.widefat td.protected { vertical-align:top; }
.widefat td.protected img { margin-top:4px; }
.widefat .trash { cursor:pointer; }